body {
    background-color: #808080;

    transition: background-color 1s;
}

#content {
    margin-top: 100px;
    background-color: #FFFFFF;
    width: 500px;
    border-radius: 5px;
    padding: 20px 30px;
}

blockquote {
    margin: 0px 10px 50px;
    font-size: 20px;
    font-family: "Helvetica","Arial",sans-serif;
    border-left: 0px;
}

blockquote p,footer {
    color: #808080;

    transition: color 1s;
}

button {
    background-color:#808080;
    color: #FFFFFF;
}

#tweet {
    float: right;
}

#author p{
    color: #FFFFFF;
    margin-top: 10px;
}
